{% extends 'base.html.twig' %}

{% block title %}Catégorie: {{ category.name }}{% endblock %}

{% block body %}

<h1>Séries de la catégorie {{ category.name }}:</h1>
    {% if programs|length > 0 %}
        <ul>
            {% for program in programs %}
                <li><b>Titre: </b>{{ program.title }}</li>
                <li><b>ID série: </b>{{ program.id }} </li>
                <li><b>Résumé: </b><br>{{ program.synopsis }}</li>
                 <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
            {% endfor %}
        </ul>

        <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
    {% else %}
        <p>Aucune série trouvée.</p>
    {% endif %}
{% endblock %}

