{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes nos séries: </h1>
    {# {{ app.session.get('total') }} #}
      {% for program in programs %}
        <div><img src="{{program.poster}}" alt="poster"></div>
        <div>
            <h2> {{ loop.index }}: {{ program.title }}</h2>
             <b><p>Catégorie : {{ program.category.name }}</p></b>
            <p>{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
        <hr>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}