{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0"> Saison {{ season.number }}: {{ program.title }} </h1>
        </div>
    </div>
    <p>{{ season.description }}</p>

  <h3>Épisodes:</h3>
<ul>
    {% for episode in episodes %}
        <li>
            Épisode {{ episode.id }} :<a href="{{ path('program_episode_show', { slug: program.slug, 'season': season.id, 'episode': episode.slug}) }}">{{ episode.title }}</a>
        </li>
    {% endfor %}
</ul>
    
<a href="{{ path("program_show", { slug: program.slug }) }}">
        Retour à la liste des saisons
    </a>

{% endblock %}