{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0"> Saison {{ season.number }}: {{ program.title }} </h1>
        </div>
    </div>
    <p>{{ season.description }}</p>

  <h3>Épisodes:</h3>
<ul>
    {% for episode in episodes %}
        <li>
            Épisode {{ episode.number }} :<a href="{{ path('program_episode_show', { "program": program.id, "season": season.id, "episode": episode.id }) }}">{{ episode.title }}</a> 
        </li>
    {% endfor %}
</ul>
    
<a href="{{ path("program_show", { id: program.id }) }}">
        Retour à la liste des saisons
    </a>

{% endblock %}